In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("C:/Users/Keerthana V/Documents/Keerthana-D/Dataset/Insurance/insurance.csv")

In [6]:
data.head()
data.columns = ['cliams','payment']
data.head()

   cliams  payment
0      19     46.2
1      13     15.7
2     124    422.2
3      40    119.4
4      57    170.9

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cliams   62 non-null     int64
 1   payment  62 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.1 KB

In [9]:
X = data.iloc[:,:-1].values
y = data.iloc[:,1].values

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=2)

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
clf_lr = LinearRegression()
clf_lr.fit(X_train,y_train)

LinearRegression()

In [19]:
y_pred = clf_lr.predict(X_test)
mse = metrics.mean_squared_error(y_pred,y_test)
print("mean square error :",mse)
print("root mean square error :",np.sqrt(metrics.mean_squared_error(y_pred,y_test)))

mean square error : 1175.5079293883957
root mean square error : 34.285681113088536